body {
	background-color: #F5F5F5; 
}

.color-white{
	color: white;
}

.sec-bg-color {
	background-color: #0077C2;
}

.spacer-top-5per {
	margin-top: 5%;
}

.spacer-bot-1per {
	margin-bottom: 1%;
}

.side-image {
	height: auto;
	width: 100%;
}